extends layout

block content
  h1= title
  p Welcome to #{title}
  input#textbox(type="number")
  br
  br
  button#getFeetInMile Get feet in a mile
  br
  button#calculateFeet Calculate feet in X miles
  br
  button#calculateCircum Calculate circumference of X radius circle
  hr
  div
  h1#displayArea
